.form {
    width: 74%;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.loginForm {
  border-radius: 5px;
  animation: loginForm 1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-fill-mode: forwards;
  margin-top: 100px;
  color: white;
  box-shadow: 0px 0px 50px rgba(255,255,255,0.35);
}

.button-email:hover {
    background-color: red;
}

.container-login {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 60px;
}

header {
    height: 50px;
    font-size: 30px;
    margin: 25px 0;
}

#title {
  animation: App-logo-spin 1.2s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  /* width: 100%; */
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  top: 150px;
  position: absolute;
  z-index: 10;
}

.title {
  animation: fontAni 1.5s;
  animation-fill-mode: forwards;
}

.social-title {
    margin: 15px 0;
    position: relative;
}

.social-title span::before {
    right: 100%;
}

.social-title span::after {
    left: 100%;
}

.social-title span {
    padding: 0 20px;
    display: inline-block;
    vertical-align: baseline;
}

.social-title span::before, .social-title span::after {
    content: '';
    display: block;
    width: 200px;
    position: absolute;
    top: 0.9em;
    border-top: 1px solid white;
}

@keyframes App-logo-spin {
  from {
    top: 150px;
  }
  to {
    top: 50px;
  }
}

@keyframes fontAni {
  from {
    color: yellow;
    font-size: 25px;
  }
  to {
    color: white;
    font-size: 50px;
  }
}

@keyframes loginForm {
  from {
    opacity: 0;
    background: rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 30%;
    margin-top: 0;
  }
  to {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
    height: 350px;
    width: 50%;
    margin-top: 100px;
  }
}
